/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
}

.card-header {
  border-radius: 8px 8px 0 0 !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: rgb(122, 122, 239);
}

.btn-primary {
  background-color: rgb(122, 122, 239);
  border-color: rgb(122, 122, 239);
}

.bg-primary {
  background-color: rgb(122, 122, 239) !important;
}

.text-primary {
  color: rgb(122, 122, 239) !important;
}

.btn-primary {
  background-color: rgb(122, 122, 239) !important;
  border-color: rgb(122, 122, 239) !important;
}

.btn-primary:hover {
  background-color: rgb(122, 122, 239);
  border-color: rgb(122, 122, 239);
}
