@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary-color: rgb(122, 122, 239);
  --primary-color-dark: rgb(110, 110, 220);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
}

.card-header {
  border-radius: 8px 8px 0 0 !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
